
<div id="wrapper" ng-controller="CalendarViewCtrl as view" oo-calendar-view-spy-checker oo-calendar-pick-handler>
  <div id="sidebar-wrapper">
    <div class="calendar-nav">
      <datepicker oo-refresh-datepicker oo-highlight-selected-week
      date-disabled="isDateDisabled(date, mode)" 
      ng-model="picked.day.date">  
      </datepicker>
    </div>

    <div class="titles-nav">
      <pz-titles-nav weeks="weeks">
    </pz-titles-nav>
      
    </div>
  </div>

  <div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="content-header"></div>
        <div class="page-content">
          <oo-event-feed weeks="weeks">

          </oo-event-feed>
        </div>
      </div>
    </div>
  </div>
</div>
