
.event-feed {
  border-style: none;
  // border-color: Navy;
}

.day-container {
  border-style: none;
}

.event-feed-date {
  background-color: yellow;
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 0;

  // .date-label-text {
  //   width: 
  //   text-align: justify;
  // }
}

.event-container {
  border-style: none;
  padding: 10px;
  // margin: 10px;
  // border-color: OrangeRed;
}

.event-title {
  background-color: rgba(255,102,102,.6);
}

.event-still {
  float: right;
}

.show-notes {
  color: red;
}

.show-credits {
  color: blue;
}