
#page-content-wrapper {

  @media(min-width: $screen-sm-min) {
      overflow-x: hidden;
    .container {
      padding-right: $sidebar-width;
    }
  }
  padding: 20px;

}

.page-content {
  width: 100%;
}

.inset {
  padding: 20px;
}