
.event-titles-list {

 li {
  text-indent: -10px;
  padding-left: 20px;
  padding-right: 5px;
  line-height: 1.3;
  font-size: 14px;
  }

  ul {
  padding: 0;
  margin: 0;
  }

 .list-date-label {
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.3;
  color: $gray-darker;
  }
}