<div ng-repeat="week in loadedWeeks" class="week-list" id="list-weeek-{{week.page}}">
  <ul class="day-list" ng-repeat="day in week.days">
    <div class="list-date-label">
      <a class="date-label-text" href scroll-to="{{'day' + day.date.getDate()}}">
        {{ day.date | date:'EEEE MMMM d' | uppercase }}</a>
    </div>
    <li ng-repeat="event in day.events">
      <a class="list-event-container" id="list-event-{{event.id}}" href scroll-to="{{'event-' + event.id}}">
        <span class="list-event-time">{{event.time | ooSmallTime }}</span>
        <span class="list-event-title">{{event.title}} </span>
        <span class="list-venue-name">{{event.venue.abbreviation}} </span>
      </a>
    </li>
  </ul>
</div>