<div class="week-container" ng-repeat='week in weeks' id="week-{{week.page}}">
  <div smooth-scroll scroll-if="{{selected.day.getDate() === day.date.getDate()}}" easing="easeOutQuart" class="day-container" ng-repeat="day in week.days" id="day-{{day.date | date: 'd'}}">
      <div class="event-feed-date" >
        <div class="date-label-text">{{day.date | date:'EEEE MMMM d' | uppercase}}</div>
      </div>
    <div class="event-container" ng-repeat="event in day.events" id="event-{{event.id}}">
      <img class="event-still" ng-src="{{event.still_url_medium}}">
      <div class="event-top-line">
        <div class="event-title">{{event.title}}</div
        ><div class="show-credits">{{event.show_credits}}</div>
      </div>
      <div>
        <span class="event-time">{{event.time| ooSmallTime}}</span>
        <span class="event-venue"> at {{event.venue.name}}</span>
      </div>
      <div class="event-series">In: {{event.series[0].title}}</div>
      <div class="show-notes" ng-bind-html="event.show_notes"></div>
      <div class="event-body" ng-bind-html="event.description"></div>
    </div>
  </div>
</div>
