  <div id="wrapper" >

    
    <div id="sidebar-wrapper">

        <div class="calendar-nav" >
          <datepicker oo-refresh-datepicker oo-check-week-on-scroll oo-highlight-selected-week
          refresh-on="{{selected.month}}" 
          date-disabled="isDateDisabled(date, mode)" 
          ng-model="selected.day">  
          </datepicker>

        </div>




          <div class="titles-nav" >
            <div>Currently on {{selected.day | date:'MMMM d'}} and {{selected.week}}</div>
            <div>on week {{selected.week}}</div>

            <oo-event-titles-by-week selected-week-name="{{selected.week}}" loaded-weeks="weeks"></oo-event-titles-by-week>


<!--             <div ng-repeat="week in weeks">
              <ul class="sidebar-title-in-list" ng-repeat="day in week.days">
              {{day.date | date:'MMMM d'}}
                <li ng-repeat="event in day.events">
                  <a du-smooth-scroll ng-href="#{{day.date | date: 'd'}}">
                    {{event.title}}
                  </a>
                </li>
              </ul>
            </div> -->
          </div>
    </div>


    <div id="page-content-wrapper">
      <div class="content-header">
<!--         <h1>Organizize</h1>
 -->      </div>

      <div class="page-content inset">

          <div class="event-feed">
            <div ng-repeat='week in weeks'>
              <div class="week-container" id="{{week.page}}">
                <div class="day-container" ng-repeat="day in week.days">
                    <div id="{{day.date | date: 'd'}}" class="event-feed-date" >
                      // {{day.date | date:'EEEE, MMMM d'}} //
                    </div>
                  <div class="event-capsule" ng-repeat="event in day.events">
                    <div class="event-feed-title">
                      {{event.title}} at {{event.venue.name}}, {{event.time|date:'MMMM d, h:mm a'}}

                    </div>
                    <div class="event-feed-body"
                      ng-bind-html="event.description"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>


  </div>