
$grid-gutter-width: 10;

@import 'bootstrap';
// universal
ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0; 
}

li {
  margin: 0;
}

// default: uses $grid-gutter-width
.wrapper {
  @include make-row();
}

.day-selector {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 500px;
}

.sidebar-titles {
  @include make-md-column(4);
  border-color: $gray-darker;
}

.event-feed {
  @include make-md-column(8);
  border: 2px solid navy;
  // border-color: Navy;
}

.day-container {
  border: 2px solid navy;
}

.event-feed-date {
  background-color: yellow;
  padding: 5px;
  margin: 5px;
}

.event-capsule {
  border: 2px solid red;
  padding: 5px;
  margin: 10px;
  // border-color: OrangeRed;
}

.event-feed-title {
  background-color: lightyellow;
}