

// universal
ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

li {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
// default: uses $grid-gutter-width
#wrapper {
  margin: 0;
  padding-left: 300px;
  transition: all .4s ease 0;
  height: 100%;
}

#sidebar-wrapper {
  margin-left: -300px;
  left: 300px;
  width: 300px;
  bottom: 0;

  padding-top: 227px;
  // padding-top: 1000px;
  // background-image: url('web-gaussian-noise.jpg');
  background-color: #FFFFE0;
  background-size: 275px;
  position: fixed;
  height: 100%;
  // overflow-y: hidden;
  z-index: 1000;
  transition: all .4s ease 0;
  top: 0;
}

.calendar-nav {
  position: relative;
  padding: 10px;
  margin-top: -227px;
  // margin-top: -1000px;
  width: 300px;
  height: auto;

  table {
    width: 280px;
  }


  // width: 250px;
}

.titles-nav {
  position: relative;
  border-color: $gray-darker;
  height: 100%;
  width: 300px;
  bottom: 0;
  overflow-y: auto;
}


.calendar-nav li a {
  display: block;
  width: 100%;
}

#page-content-wrapper {
  width: 100%;
}

.inset {
  padding: 20px;
}

.btn {
  border-radius: 0;

}

.page-content {
  @include make-row();
}

// .ui-scrollfix {
//   position: fixed;
//   top: 20%;
//   left: 5%;
// }



.event-feed {
  @include make-md-column(9);
  border: 2px solid navy;
  // border-color: Navy;
}

.day-container {
  border: 2px solid navy;
}

.event-feed-date {
  background-color: yellow;
  padding: 5px;
  margin: 5px;
}

.event-capsule {
  border: 2px solid red;
  padding: 5px;
  margin: 10px;
  // border-color: OrangeRed;
}

.event-feed-title {
  background-color: lightyellow;
}