

// universal
ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

li {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.btn {
  border-radius: 0;
}
// default: uses $grid-gutter-width


$sidebar-color: $gray-lighter;
// rgb(253,252,244);
$sidebar-color-a: rgba(253,252,244, 0);
$sidebar-noise-image: url(noise2-3.png);

