

// universal
ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

li {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.btn {
  border-radius: 0;
}
// default: uses $grid-gutter-width

$sidebar-width: 320px;
$sidebar-gutter: 10px;

// $event-feed-gutter: 

$sidebar-color: rgb(253, 252, 244);
$sidebar-color-a: rgba(253, 252, 244, 0);
$noise-image-02: url('noise2-3.png');

$background-color: rgb(250, 250, 250);
$background-color-a: rgba(250, 250, 250, 0);

$title-banner-color: rgba(255, 102, 102, .6);
$credits-banner-color: rgba(251, 248, 161, .6);

