
// btn-default
// $btn-default-color:              #333 !default;
// $btn-default-bg:                 #fff !default;
// $btn-default-border:             #ccc !default;

// $datepicker-btn-color:      $text-body-color;
$datepicker-btn-color:      $text-color;
$datepicker-btn-background: $background-color;
$datepicker-btn-border:     $background-color;



$datepicker-picked-btn-background: red;
$datepicker-visible-btn-border: black;
$datepicker-active-btn-border: black;
$datepicker-today-btn-color: green;

// <button type="button" style="width:100%;" 
//   class="btn btn-sm" ng-class="{'btn-info': dt.selected}" 
//   ng-click="select(dt.date); view.pickDay(dt.date)" 
//   ng-disabled="dt.disabled">

//   <span ng-class="{'text-muted': dt.secondary, 'text-info': dt.current}">{{dt.label}}</span>
// </button>
          // pz-cal-picked-day  --> red
          // pz-cal-active-day  --> border 1px
          // pz-cal-today       --> green
          // pz-cal-visible-day --> 2 pz border 



// selected - btn-info --> pz-picked-day
// current  - text-info --> pz-today       (<-- means it's today, like Date.new())

// (dt.label is just the text version of the date. they don't have id's, only weeks do)


// In order to avoid loading all the borders first, let's do !
// so I would want to set ENABLED through !disabled

.calendar-nav {
  .pz-cal-btn {
  	@include button-variant($datepicker-btn-color, 
                            $datepicker-btn-background, 
                            $datepicker-btn-border);
    // background-color: $background-color;
    border: 0 none;
  }

  .pz-cal-picked-day {
    background-color: $datepicker-picked-btn-background;
    // @include button-variant($datepicker-btn-color, 
    //                         $datepicker-picked-btn-background, 
    //                         $datepicker-btn-border);
  }

  .pz-cal-active-day {
    // @include button-variant($datepicker-btn-color, 
    //                         $datepicker-btn-background, 
    //                         $datepicker-active-btn-border);
    border: 1px solid $datepicker-active-btn-border;
  }

  .pz-cal-visible-day {
    // @include button-variant($datepicker-btn-color, 
    //                         $datepicker-btn-background, 
    //                         $datepicker-visible-btn-border);
    border: 3px solid $datepicker-visible-btn-border;
  }

  // modifies just the text label
  // could easily change that
  .pz-cal-today {
    color: $datepicker-today-btn-color;
    // @include button-variant($datepicker-today-btn-color, 
    //                         $datepicker-btn-background, 
    //                         $datepicker-btn-border);
  }
}