// $sidebar-background: ;



#sidebar-wrapper {
  @media(min-width: $screen-sm-min) {
    width: $sidebar-width;
  }
  width: 0;

  // 
  position: fixed;
  margin-left: -$sidebar-width;
  left: $sidebar-width;
  z-index: 1000;
  height: 100%;
  overflow-y: auto;
  transition: all .4s ease 0;
  background-color: $sidebar-background-color;

  // positioning child navs
  padding-top: $calendar-height;

  // transition: all .4s ease 0;
}

.calendar-nav {
  position: relative;
  top: 0;
  height: auto;
  width: $sidebar-width;
  margin-top: -$calendar-height; // <- key to stacking properly
  // box-shadow: 2px 3px 3px rgba(0,0,0,.26);



  // z-index: 999;
  // padding: $sidebar-gutter;
  // padding-right: $sidebar-gutter + 10px;
  // padding-bottom: 20px;
}

// .titles-nav::before {
//   z-index: 1000;
//   background-image: linear-gradient($background-color 50%, $background-color-a);
//   background-repeat: no-repeat;
//   background-size: 100% 10px;
//   background-attachment: local;
// }


.titles-nav {
  padding-top: 15px;
  position: relative;
  // border-color: $gray-darker;
  height: 100%;
  // top: 0;
  // width: $sidebar-width;
  width: $sidebar-width;
  bottom: 0;
  overflow-y: auto;


  // background-image: 
  // // shadow cover
  // linear-gradient($background-color 50%, $background-color-a),
  // // scroll shadow
  // linear-gradient($gray, $background-color);
  // background-repeat: no-repeat;
  // background-size: 100% 7px, 100% 3px;
  // background-attachment: local, scroll;
}




